body, html {
    width:1250px;
    height: 650px;
    margin: 0;
    padding: 0;
}

#map-canvas {
    width: 100%;
    height: 100%;
}

.marker-label,
.marker-icon {
    /*    z-index: 99;
        position: absolute;
        display: block;
        margin-top: -40px;
        margin-left: -24px;
        width: 50px;
        height: 50px;
        font-size: 30px !important;
        text-align: center;
        color: #FFFFFF;
        white-space: nowrap;*/
}


.container-fluid{
    padding-bottom:  100px;
}

#gallery .photo{
    width:100px;
    height:100px;
}


#photo img{
    width: 500px;
    height: 500px;
}
